body{
    background-image: url('./books.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:linear-gradient(0,0,0,1);
text-align: center;
}
.border{
    background-color: rgba(255,255,255,0.9);
    width: 1400px;
    display:inline-block;
    margin-top:3%;
}
form {
    background-color: rgba(255,255,255,0.9);
    display:inline-block;
    margin-top:5%;
    border: 2px solid teal;
    border-radius: 4px;
   
    
        }
        .tabel{
            background-color: rgba(255,255,255,0.9);
           width: 1298px;
            margin-top:5%;
          margin-left: 25%;
          border: 2px solid teal;
          border-radius: 4px;
        
        }
      
